<div id="container">
  <div id="toolbar"><a href="/">home</a></div>
  <div id="header"><img class="avatar" /></div>
  <div id="friend-list">
    <ul>
      <li id="friend-1" class="status-available">Alek</li>
      <li id="friend-2" class="status-unavailable">Steven</li>
      <li id="friend-3" class="status-available">Salar</li>
      <li id="friend-4" class="status-available">Annie</li>
    </ul>
  </div>
</div>